body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: darkslategrey;
}
.table{
    grid-column: 1;
    grid-row: 1;
}
.add{
    grid-column: 2;
    grid-row:3;
}