<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/stylesheet.css" rel="stylesheet">
</head>
<body>
<h2>Employees</h2>
<table>
    <thead>
    <tr class="table">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.fName}"></td>
        <td th:text="${employee.lName}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text ="${employee.dob}"></td>
        <td><a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>

<p th:if="${#lists.isEmpty(employees)}">No employees yet!</p>
<p><a href="/add-employee" class="add">Add a new employee</a></p>
</body>
</html>